# MrEditor97's Home Assistant Add-on's Repository - Edge

Add-ons for Home Assistant. Allowing you to extend the functionality of your Home Assistant setup, these can be installed and configured from within the Home Assistant frontend.

## Available Add-ons
{% for addon in addons %}
### &#10003; [{{ addon.name }}][{{ addon.target }}]

![Latest Version][{{ addon.target }}-version-shield]
![Supports armhf Architecture][{{ addon.target }}-armhf-shield]
![Supports armv7 Architecture][{{ addon.target }}-armv7-shield]
![Supports aarch64 Architecture][{{ addon.target }}-aarch64-shield]
![Supports amd64 Architecture][{{ addon.target }}-amd64-shield]
![Supports i386 Architecture][{{ addon.target }}-i386-shield]

{{ addon.description }}

{% endfor %}

## Releases

Releases are based on [Semantic Versioning][semver], and use the format
of ``MAJOR.MINOR.PATCH``. In a nutshell, the version will be incremented
based on the following:

- ``MAJOR``: Incompatible or major changes.
- ``MINOR``: Backwards-compatible new features and enhancements.
- ``PATCH``: Backwards-compatible bugfixes and package updates.

## Support

Got questions?

You could also open an issue here on GitHub. Note, we use a separate
GitHub repository for each add-on. Please ensure you are creating the issue
on the correct GitHub repository matching the add-on.

{% for addon in addons %}
- [Open an issue for the add-on: {{ addon.name }}][{{ addon.target }}-issue]
{% endfor %}

For a general repository issue or add-on ideas [open an issue here][issue]
